
@font-face {
  font-family: 'FuturaNewCondBold-Reg';
  src: url('../fonts/FuturaNewCondBold-Reg.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaNewCondBold-Reg.otf')  format('opentype'),
       url('../fonts/FuturaNewCondBold-Reg.woff') format('woff'), url('../fonts/FuturaNewCondBold-Reg.ttf')  format('truetype'), url('../fonts/FuturaNewCondBold-Reg.svg#FuturaNewCondBold-Reg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf')  format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans') format('svg');
  font-weight: bold;
  font-style: normal;
}
